@model ProductsListViewModel

@foreach(var m in Model.Products)
{
<div class="card">

    <h4>
        @m.Name
        <span class="badge badge-pill badge-primary" style="float:right">
            <small>@m.Price.ToString("c")</small>
        </span>
    </h4>
        <div class="card-text">@m.Description</div>
</div>
      

        
}

<div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-secondary"
     page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory" class="btn-group pull-right m-1">

</div>